*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#menu

{
 width: 100%;
 border: 1px solid rgb(209, 209, 209);
 height: 100px;
 background-color: #cacaca;
 font-family: Helvetica, sans-serif;
 font-size: 20px;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;

}
a{
    color: beige;
    text-decoration: none;
}
#menu ul

{

  margin-top:  42px;

}

#menu ul li

{

  list-style-type: none;

  display: inline;

  margin-left: 50px;
  
}
body{
    width: 100%;
    background-color: rgb(243, 241, 243);
    
}
a{
    margin-left: 55px;
}
